<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>图书信息展示</h1>
    <table>
        <tr>
            <td>图书编号</td>
            <td>图书名称</td>
            <td>图书库存</td>
            <td>图书类别</td>
            <td>操作</td>
        </tr>

        <tr th:each="b:${bookList}">
            <td th:text="${b.id}">图书编号</td>
            <td th:text="${b.name}">图书名称</td>
            <td th:text="${b.storage}">图书库存</td>
            <td th:text="${b.booksType.typeName}">图书类别</td>
            <td>
                <a th:href="|/book/getOneById?id=${b.id}|">修改</a>|
                <a th:href="|/book/delOneBookById?id=${b.id}|">删除</a>
            </td>
        </tr>

        <tr>
            <td colspan="5">
                <a href="/book/toAddOne">增加图书</a>
            </td>
        </tr>
    </table>
</body>
</html>