<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改一本图书</title>
</head>
<body>

    <form method="get" action="/book/updateOneBook">
        <input type="hidden" name="id" th:value="${book.id}" />
        <table>
            <tr>
                <td>图书名称：</td>
                <td><input type="text" name="name" th:value="${book.name}" /></td>
            </tr>

            <tr>
                <td>图书库存：</td>
                <td><input type="text" name="storage" th:value="${book.storage}" /></td>
            </tr>

            <tr>
                <td>图书类别：</td>
                <td>
                    <select name="typeId">
                        <option th:each="bt:${booksTypeList}" th:value="${bt.id}" th:text="${bt.typeName}" th:selected="${bt.id eq book.typeId ? 'selected':null}"></option>
                    </select>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" th:value="提交"/>
                </td>
            </tr>
        </table>
    </form>

</body>
</html>