<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1{
            margin-top: 150px;
            margin-bottom: 20px;
            text-align: center;
        }
        table{
            margin: auto;
        }
    </style>
</head>
<body>
<h1>学生图书添加页面</h1>
<form action="/student/addBooksById" method="post">
    <table border="0" cellspacing="0" cellpadding="10">
        <tr>
            <td>姓名</td>
            <td>
                <input type="hidden" name="id" th:value="${student.id}"/>
                <input type="text" name="name" th:value="${student.name}"/>
            </td>
        </tr>
        <tr>
            <td>图书</td>
            <td>
                <select name="booksId">
                    <option th:each="books : ${booksList}" th:value="${books.id}" th:text="${books.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="添加"/>
                <input type="button" value="返回" onclick="javascript:history.back()"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>